img {
  width: 100px;
  border-radius: 20px;
}
h2 {
  font-size: 24px;
}
body {
  background: linear-gradient(slateblue, darkblue);
  color: white;
  font-family: "Trebuchet MS";
  text-align: center;
}
a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: slateblue;
  text-decoration: none;
}
